body {
	width: 951px;
	height: 781px;
	background-color: #e7e5c8;
	margin: 0 auto;
	font-family: Tahoma, Lucida, sans-serif;
	font-size: 14px;
	color: #99955d;
}

.letter {
	font-size: 16px;
	color: #a7c043;
}

h4{
	color: #6e6b65;
}

h1 {
	float: left;
}
.phone {
	width: 274px;
	height: 88px;
	float: right;
	background-image: url("../images/phone.png");
	margin-top: auto;
	color: white;
	text-align: center;
}
hr {
	width: 900px;
	clear: right;
	color: #99955d;
}

.maket {
	float: left;
	width: 450px;
	height: 265px;
}

