body {
    background-color: #e7e5c8;
    font-family: Tahoma, Lucida, sans-serif;
    font-size: 11px;
    color: #6a684d;
    margin-top: 1px;
}

.page {
    width: 706px;
    margin: 0 auto;
}

.letter {
    font-size: 14px;
    color: #90aa1f;
}

h4 {
    color: #6e6b3d;
    font-size: 12px;
    font-family: Tahoma, Lucida, sans-serif;
}

.company h4 {
    margin-top: 18px;
    margin-left: 38px;
}

h1 {
    float: left;
    margin-top: 27px;
    margin-left: 23px;
}

/* ------------------------------------------------ Phone */

.phone {
    width: 274px;
    height: 88px;
    background-image: url("../images/phone.png");
    float: right;
    color: #fff;
    box-sizing: border-box;
    padding: 26px 0 0 110px;
    margin-right: -26px;
}

.phone h6 {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

.phone p {
    font: bold 14px "Times New Roman", serif;
    margin: 0 0 0 13px;
}

header {
    height: 86px;
    border-bottom: 1px solid #c0bd9a;
}

.content {
    height: 329px;
    border-top: 1px solid #f1f0e0;
    border-bottom: 1px solid #c0bd9a;
}

.content img {
    float: left;
    margin-top: 32px;
    margin-left: 1px;
}
.company {
    width: 312px;
    float: right;
    margin-right: 3px;
}

a{
    color: #90aa1f;
}

.product {
    width: 706px;
    height: 182px;
    background-color: #dedbbb;
    border-top: 1px solid #f1f0e0;
    border-radius: 5px;
}

.gallery {
    width: 226px;
    height: 165px;
    border-right: 1px solid #f1f0e0;
    padding-left: 17px;
    float: left;
    margin-top: 10px;
}

.q {
    margin-top: -20px;
}

.gallery a img {
    border-radius: 5px;
    display: block;
}

.gallery a {
    float: left;
    background: #b7b192;
    padding: 3px 18px 3px 3px;
    border-radius: 5px;
    margin: 0 7px 8px 0;
}

.proposal {
    width: 225px;
    height: 165px;
    border-left: 1px solid #c0bd9a;
    border-right: 1px solid #f1f0e0;
    float: left;
    margin-top: 10px;
    padding-left: 17px;
    text-align: left;

}

.proposal img {
    border-radius: 5px;
    border: 3px solid  #b7b192;
}

.word {
    color: #90aa1f;
}

li {
    list-style-image: url(../images/dot.gif);
    line-height: 150%;
}

.j {
    margin-left: 11px;
}

.service {
    width: 200px;
    height: 165px;
    float: left;
    border-left: 1px solid #c0bd9a;
    margin-top: 10px;
    padding-left: 17px;
}

.service img {
    float: right;
    margin-top: -9px;
    margin-left: -10px;
}

.butterfly {
    width: 400px ;
    float: right;
    padding-top: 18px;
}

.butterfly img {
    float: left;
    margin-left: 135px;
}
.wellcome {
    float: left;
    margin-top: 26px;
    margin-left: 12px;
}

